* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: beige;
}

.contenedorCount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contenedorButtons {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.contenedorButtons button {
  font-size: 1.5rem;
  padding: 5px 10px;
  border-style: none;
  border-radius: 5px;
  background-color: rgb(42, 50, 165);
  color: white;
  cursor: pointer;
}
